In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import sklearn.linear_model as lm
import streamlit as st
# from predict_cost import predict

In [2]:
data = pd.read_csv("house_price_prediction_dataset.csv")

In [3]:
data

,num_bedrooms,num_bathrooms,square_footage,lot_size,age_of_house,proximity_to_city_center,neighborhood_quality,house_price
0,4,2,855,5089,13,8,9,490699.596224
1,5,3,3424,2865,40,15,2,521249.931692
2,3,2,3115,6600,1,18,3,555975.111081
3,5,2,2916,7055,18,7,5,596433.382886
4,5,3,2551,1004,79,19,10,511950.638234
...,...,...,...,...,...,...,...,...
4995,4,2,2300,3401,67,3,3,496424.859638
4996,4,1,3199,8177,77,11,7,518662.176659
4997,5,1,2368,3006,76,10,10,536703.336723
4998,4,1,2596,2409,26,17,8,493421.827160
4999,5,3,2319,2762,87,13,5,502529.507844

In [4]:
data.head()

,num_bedrooms,num_bathrooms,square_footage,lot_size,age_of_house,proximity_to_city_center,neighborhood_quality,house_price
0,4,2,855,5089,13,8,9,490699.596224
1,5,3,3424,2865,40,15,2,521249.931692
2,3,2,3115,6600,1,18,3,555975.111081
3,5,2,2916,7055,18,7,5,596433.382886
4,5,3,2551,1004,79,19,10,511950.638234

In [5]:
data.tail()

,num_bedrooms,num_bathrooms,square_footage,lot_size,age_of_house,proximity_to_city_center,neighborhood_quality,house_price
4995,4,2,2300,3401,67,3,3,496424.859638
4996,4,1,3199,8177,77,11,7,518662.176659
4997,5,1,2368,3006,76,10,10,536703.336723
4998,4,1,2596,2409,26,17,8,493421.827160
4999,5,3,2319,2762,87,13,5,502529.507844

In [6]:
data.describe()

,num_bedrooms,num_bathrooms,square_footage,lot_size,age_of_house,proximity_to_city_center,neighborhood_quality,house_price
count,5000.000000,5000.00000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000,5000.000000
mean,3.010800,1.99780,2152.563000,5493.568000,49.905000,10.040800,5.569600,459832.794184
std,1.424601,0.81014,764.553954,2619.379674,29.125062,5.427101,2.843303,81437.536297
min,1.000000,1.00000,800.000000,1000.000000,0.000000,1.000000,1.000000,185517.796390
25%,2.000000,1.00000,1503.750000,3202.750000,25.000000,5.000000,3.000000,404045.735483
50%,3.000000,2.00000,2159.000000,5521.000000,50.000000,10.000000,6.000000,459209.926051
75%,4.000000,3.00000,2787.250000,7729.500000,75.000000,15.000000,8.000000,518571.537802
max,5.000000,3.00000,3499.000000,9998.000000,99.000000,19.000000,10.000000,752510.151208

# No of rows and columns

In [7]:
data.shape

(5000, 8)

In [8]:
data.shape[0]  #rows

5000

In [9]:
data.shape[1]

8

# Null values

In [10]:
data.isnull().sum()

num_bedrooms                0
num_bathrooms               0
square_footage              0
lot_size                    0
age_of_house                0
proximity_to_city_center    0
neighborhood_quality        0
house_price                 0
dtype: int64

In [11]:
data[["num_bedrooms","num_bathrooms","square_footage","age_of_house"]]

      num_bedrooms  num_bathrooms  square_footage  age_of_house
0                4              2             855            13
1                5              3            3424            40
2                3              2            3115             1
3                5              2            2916            18
4                5              3            2551            79
...            ...            ...             ...           ...
4995             4              2            2300            67
4996             4              1            3199            77
4997             5              1            2368            76
4998             4              1            2596            26
4999             5              3            2319            87

[5000 rows x 4 columns]

# Fitting(Train) Nd Predict

In [12]:
reg = lm.LinearRegression()

In [13]:
reg.fit(data[["num_bedrooms","num_bathrooms","square_footage","age_of_house"]],data.house_price)

LinearRegression()

In [14]:
y_predict = reg.predict([[3,1,3000,25]])

C:\Users\kanub\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [15]:
print(y_predict)

[506106.17292977]

In [16]:
print(reg.predict([[10,5,5000,10]]))

[912187.41143443]

C:\Users\kanub\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [17]:
y_predict_inr= y_predict*80

In [18]:
print(y_predict_inr)

[40488493.83438188]

In [19]:
st.title('Home price prediction')

st.write('---')


# area = st.slider('Area of the house', 1000, 5000, 1500)


# no. of bedrooms in the house
bedrooms = st.number_input('No. of bedrooms', min_value=0, step=1)

# # no. of bathrum in the house
# bathroom  = st.radio('No. of balconies', (0, 1, 2, 3))

# no. bathrooms in the house
bathrooms = st.number_input('No. of bathrooms : ', min_value=0, step=1)

# age of the house? 
age = st.number_input('How old is the house (in years)?', min_value=0, step=1)

# area of the house 
area = st.number_input('Area of the house : ')

if st.button('Predict House Price : '):
    cost = predict(np.array([[bedrooms, bathrooms, area,age]]))
    st.text(cost[0]*80)

2024-07-30 22:56:23.402
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\kanub\anaconda3\Lib\site-packages\ipykernel_launcher.py [ARGUMENTS]
2024-07-30 22:56:23.418 Session state does not function when running a script without `streamlit run`

SyntaxError: invalid syntax (3919490868.py, line 1)